<?php
$class = ($this->messageCount < 1)? '':
		 ($this->messageCount < 2)? 'bg-success':
		 ($this->messageCount < 4)? 'bg-info':
		 ($this->messageCount < 6)? 'bg-warning':
		 ($this->messageCount < 10)? 'bg-success':'bg-danger';
?>
<div class="report-widget padded">
    <h3>Author Notices</h3>

	<ul class="status-list">
        <li>
            <a href="<?= Backend::url('kurtjensen/authnotice/read') ?>">
                You Have  <span class="status <?= $class ?>"><?= $this->messageCount ?></span> Unread Messages.!
            </a>
        </li>
    </ul>
</div>
